/* I will keep non minfied CSS in here */

a:hover{
  color:#f1637e;
}


/*-- Home Page Boxes --*/

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap; 
}

/* Flower Font */

@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower.woff2') format('woff2'),
        url('../fonts/IndieFlower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.center {
    text-align: center;
}

.home h1,
.home h2, 
.home h3, 
.home h4{
    font-family: 'Avenir LT Std' !important; 
    text-shadow: 1px 1px 1px #000;
} 

.home h5{
     font-family: 'Indie Flower'!important;
}






/*-- Temp Styles --*/

#left1,
#left3,
#left5{
	background-color: #6EC1E3;
}

#left2,
#left4{
	background-color: #ED7FA0;
}

#right1,
#right3,
#right5{
	background-color: #7E8F7C;
}

#right2,
#right4{
	background-color: #7A7A7A;
}

 .page-template-custom-homepage-php .elementor.elementor-1032.elementor-location-footer {
	top: 100%;
	transition: 2s !important;
	transition-delay: 0.4s !important;
	width: 100% !important;
	position: fixed !important;
}

.goingUp {
	display: block !important;
    top: 90% !important;
}

.showMoreFooter {
    top: 60% !important;
}

/* .ms-section *{
	color: #fff;
	padding: 0 40px;
} */


/*-- End of Home Page Styles --*/


.custom-boxes {
    display: flex;
    animation-delay: 2s;
    flex-wrap: wrap;
    /* If I want to make it boxed more 
    width: 960px;
    margin: 0 auto;
    */
}

.main-box{
    width: 30%;
    max-width: 30%;
    margin: 20px 10px;
    background: #fff !important;
}


/*-- First Box --*/
.main-box:nth-child(1){
    background-color: #25346B !important;
}

.main-box:nth-child(1) .box-heading{
    color: #fff;
}

.box-rule-details p {
    color:#fff;
    margin-top: 100px;
}

/*-- Top header --*/

h1.main_heading {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 700;
}

h3.smaller_heading {
    font-size: 19px;
        color:#fff;
}

article.box_rule {
    border: solid 5px #25346B;
    padding: 30px;
    height: 24rem;
    /* height: 34rem; */
    position: relative;
    /* background-color: transparent; */
    background-color: transparent;
    -webkit-transition: background-color .4s,opacity .4s;
    transition: background-color .4s,opacity .4s;
    display: block;   
}

article.box_rule:hover {
    background: #25346B;
    opacity: 1;
}

/*-- Box 6 --*/

/* .main-box:nth-child(6) article.box_rule:hover {
    background: #fff;
    opacity: 1;
}

.main-box:nth-child(6) .box-rule-details p{
  color: #25346B;
} */

.box-rule-details {
    display: none;
}

article.box_rule:hover .box-rule-details  {
    display:block;
}

article.box_rule:hover .golden-rule__number,
article.box_rule:hover .box-heading,
article.box_rule:hover .box-image{
    display: none;
}




article.box_rule:hover .box-rule-details  {
    display:block;
}

/*-- The Image --*/

.image-wrapper {
    display: flex;
    /* align-items: flex-end; */
    width: 100%;
    /* background: aqua; */
    /* justify-content: flex-end; */
    justify-content: center;
        margin-top: -30px;
}

img.box-image {
    width: 62%;
    /* margin: 20px 0; */
}

.golden-rule__number.sixNum {
    text-indent: -9999px;
}



.golden-rule.animate a article {
    -webkit-transition: background-color .4s,opacity .4s 0s;
    transition: background-color .4s,opacity .4s 0s;
}

.golden-rule__number {
    color: #25346B;
    font-size: 3.125rem;
    top: 0;
    left: 0;
    font-weight: bold;
    letter-spacing: -.16px;
    line-height: 100%;
}

.box-heading{
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: -.11px;
    color: #282828;
    line-height: 120%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 30px;
    line-height: 105%;
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    max-width: 280px;
}










/* Fade In Animation */

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.main-box {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.main-box.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.main-box.two {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.main-box.three {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  animation-delay: .6s;
}
.main-box.four {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  animation-delay: .9s;
}

.main-box.five {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.main-box.six {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.main-box.seven {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.fade-in.eight {
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.fade-in.nine {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.fade-in.ten {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.fade-in.eleven {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.fade-in.twelve {
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s;
}











/*-- Themed Boxes - Box Two --*/

/*-- First Box --*/
.page-template-boxes-theme-two .main-box:nth-child(1){
    background-color: #6cc4e8 !important;
}

.page-template-boxes-theme-two .main-box:nth-child(1) .box-heading{
    color: #fff;
}

.page-template-boxes-theme-two .box-rule-details p {
    color:#fff;
    margin-top: 100px;
}

/* Headings & number */
.page-template-boxes-theme-two .golden-rule__number, 
.page-template-boxes-theme-two .box-heading{
  color: #6cc4e8;
}
/* Border */
.page-template-boxes-theme-two article.box_rule{
  border: solid 5px #6cc4e8;
}
/* Hover State */
.page-template-boxes-theme-two article.box_rule:hover{
  background: #6cc4e8;
}


/*-- Themed Boxes - Box Two END --*/




/*-- Themed Boxes - Box Three --*/

/*-- First Box --*/
.page-template-boxes-theme-three .main-box:nth-child(1){
    background-color: #fcb34d !important;
}
/* Headings & number */
.page-template-boxes-theme-three .golden-rule__number, 
.page-template-boxes-theme-three .box-heading{
  color: #fcb34d;
}
/* Border */
.page-template-boxes-theme-three article.box_rule{
  border: solid 5px #fcb34d;
}
/* Hover State */
.page-template-boxes-theme-three article.box_rule:hover{
  background: #fcb34d;
}

/*-- Themed Boxes - Box Three END --*/




/*-- Themed Boxes - Four Three --*/

/*-- First Box --*/
.page-template-boxes-theme-four .main-box:nth-child(1){
    background-color: #f1637e !important;
}
/* Headings & number */
.page-template-boxes-theme-four .golden-rule__number, 
.page-template-boxes-theme-four .box-heading{
  color: #f1637e;
}
/* Border */
.page-template-boxes-theme-four article.box_rule{
  border: solid 5px #f1637e;
}
/* Hover State */
.page-template-boxes-theme-four article.box_rule:hover{
  background: #f1637e;
}

/*-- Themed Boxes - Box Four END --*/






/*-- Themed Boxes - Five Three --*/

/*-- First Box --*/
.page-template-boxes-theme-five .main-box:nth-child(1){
    background-color: #9646B2 !important;
}
/* Headings & number */
.page-template-boxes-theme-five .golden-rule__number, 
.page-template-boxes-theme-five .box-heading{
  color: #9646B2;
}
/* Border */
.page-template-boxes-theme-five article.box_rule{
  border: solid 5px #9646B2;
}
/* Hover State */
.page-template-boxes-theme-five article.box_rule:hover{
  background: #9646B2;
}

/*-- Themed Boxes - Box Five END --*/


/* Blog Posts Comments Section */

div#wpd-post-rating {
    display: none;
}

.wpd-vote {
    display: none !important;
}
.wpd-filter.wpdf-reacted.wpd_not_clicked {
    display: none;
}

.wpd-filter.wpdf-hottest.wpd_not_clicked {
    display: none;
}

/* -- Blog Post Comments-- Removes Odd Name Issue -- */
.wpd-login {
    display: none;
}



/* -- Main Header Menu -- */

ul#menu-1-2145010d {
    margin: 0 auto;
}

/* BBPress Styles  */

.bbp-template-notice.info,
span#subscription-toggle {
    display: none;
}

.bbp-breadcrumb p {
    font-size: 20px;
    color: #06183a;
}


.bbp-breadcrumb a {
    font-size: 20px;
    color: #06183a;
    text-decoration: blink;
}

.bbp-pagination * {
    font-size: 15px;
    color: #06183a;
    text-transform: capitalize;
    font-style: italic;
}

ul.forum-titles li {
    font-size: 20px;
    color: #06183a;
}

.bbp-pagination {
    margin-bottom: 50px;
}

li.bbp-header,
#bbpress-forums li.bbp-body ul.topic {
    border-bottom: 1px solid #06183a !important;
}


.bbp-body .odd {
    border: #F2F2F2 solid 1px !important;
    background: #FAFBFC !important;
}

.bbp-body .odd {
    border: #F2F2F2 solid 1px !important;
    background: #FAFBFC !important;
}

#bbpress-forums li .bbp-topic-permalink {
    font-size: 18px !important;
    font-weight: 800;
    line-height: 20px;
    margin: 5px 0 5px;
}

p.bbp-topic-meta,
.sgi-letter-avatar,
a.bbp-author-link
 {
    display: none;
}


#bbpress-forums li.bbp-body ul li:nth-child(1),
#bbpress-forums li.bbp-body ul li:nth-child(4) {
    padding: 0 10px;
}

/* New Topic */

div#new-topic-0 {
    margin-top: 100px;
    border-top: 2px solid #06183a;
    padding-top: 40px;
}

#bbpress-forums fieldset.bbp-form legend {
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}

#bbpress-forums fieldset.bbp-form label {
    font-size: 15px;
    margin-bottom: 5px;
}

/* form-allowed-tags */

p.form-allowed-tags {
    display: none;
}

.wpulike-default .wp_ulike_btn, .wpulike-default .count-box:before {
    background-color: #f1637e !important;
}

.wpulike-default .count-box {
    box-shadow: none;
    background-color: #f1637e !important;
    color: white;
}
/* --NEW Home Page Styles */
/* --Home Page Standard Btn */
.standardBtn {
    padding: 10px 75px;
    background: #f1637e;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.04rem;
    color: #fff;
    margin-top: 40px;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) !important;
}

.standardBtn:hover{
    background: #fcb34d;
    color: #fff;
}


/* -- First Box -- */

.box01Left,
.box1Right {
    padding: 0px 180px !important;
}



/* First Arrow */
img.firstArrow {
    transform: rotate(-160deg);
    width: 20%;
    margin: 0px 0px -20px 110px;
    display: block;
}
div#firstArrowHeading h5 {
transform: rotate(-380deg);
    margin-left: -30px;
    font-size: 22px;
    width: 70%;
    margin-bottom: 0px;
}


/* -- Second Box -- */

.box2Left, 
.box02Right {
    padding: 0 150px;
}

/* BTN */
.standardBtn-box2 {
    background: #fcb34d;
}

.standardBtn-box2:hover{
    background: #f1637e;
    color: #fff;
}

/* Second Arrow */
img.secondArrow {
    transform: rotate(-160deg);
    width: 20%;
    margin: 40px 0px -30px 110px;
    display: block;
}
div#secondArrowHeading h5 {
    transform: rotate(-377deg);
    margin-left: -70px;
    font-size: 22px;
    width: 80%;
    margin-bottom: -10px;
    margin-top: 30px;
}

/* -- Third Box -- */

.box03Left, 
.box03Right {
    padding: 0px 150px;
}

div#thirdArrowHeading h5 {
    transform: rotate(-370deg);
    margin-left: -60px;
    font-size: 22px;
    width: 63%;
    margin-bottom: 0px;

}

img.thirdArrow {
    transform: scaleX(-1) rotate(-90deg);
    width: 14%;
    margin: 30px 0px -110px 100px;
    display: block;
}

.standardBtn-box3 {
    background: #5eb3e4;
}
.standardBtn-box3:hover{
    background: #25346b;
    color: #fff;
}

/* -- Fourth Box -- */
.box04Left, 
.box04Right {
    padding: 0px 150px;
}

div#fourthArrowHeading h5 {
    transform: rotate(-340deg);
    margin-right: -60px;
    font-size: 22px;
    width: 70%;
    float: right;
    margin-bottom: 0px;
}

img.fourthArrow {
    transform: rotate(-90deg);
    float: right;
    width: 14%;
    margin: 40px 0px -30px 0px;
    display: block;
}

.standardBtn-box4 {
    background: #25346b;
}

.standardBtn-box4:hover{
    background: #5eb3e4;
    color: #fff;
}


/* -- Fifth Box -- */

.box05Left, 
.box05Right {
    padding: 0px 150px;
}

div#firthArrowHeading h5 {
    transform: rotate(-370deg);
    margin-right: -30px;
    font-size: 22px;
    width: 70%;
    float: right;
    margin-bottom: 0px;
}

img.fifthArrow {
    transform: scaleX(-1) rotate(-270deg);
    width: 14%;
    /* margin: 40px 0px -30px 0px; */
    display: block;
    margin: 0 auto;
}



/* -- Category Footer Issue Fix */

.category .elementor-location-footer {
    margin-top: 100px;
}

/* -- Comment Post Bubble  -- */

#wpd-bubble-wrapper > div,
#wpd-bubble-wrapper > #wpd-bubble #wpd-bubble-add-message {
    background-color: #001035;
}

#wpd-bubble-wrapper > #wpd-bubble #wpd-bubble-add-message::before {
    border-left-color: #001035;
    border-right-color: #001035;
}

/* LogIn / Register */

a.sso {
    background: #001035;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: -15px !important;
    display: block;
    width: 51%;
}

.newSocialLogin {
    margin-top: 60px;
}

.user-registration-page .newSocialLogin {
    margin-top: 30px;
}

/* Social Logins */

.bbp-login-form #nsl-custom-login-form-1{
    display: none;
}

/* User Submitted Links */

 .page-template-links-template .standardBtn,
 .page-template-links-template-connecting-expanding-learning .standardBtn,
 .page-template-links-template-online-and-digital-learning .standardBtn,
 .page-template-links-template-building-learning-independence .standardBtn, 
 .page-template-links-template-The-Purpose-And-Vision-Of-Education .standardBtn {
    padding: 10px 75px;
    background: #f1637e;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.04rem;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) !important;
    margin: 0 auto;
    display: block;
    width: 32%;
    text-align: center;
    margin-bottom: 20px;
}

.page-template-links-template .standardBtn:hover,
.page-template-links-template-connecting-expanding-learning .standardBtn:hover,
.page-template-links-template-online-and-digital-learning .standardBtn:hover,
.page-template-links-template-building-learning-independence .standardBtn:hover, 
.page-template-links-template-The-Purpose-And-Vision-Of-Education .standardBtn:hover {
    background: #fcb34d;
    color: #fff;
}

input.removeCheck {
    display: none!important;
}

.newBG {
    background: green !important;
}


/* User Submitted Posts Output */

.linkBoxWrapper {
    display: flex;
    flex-wrap: wrap;
}

.linkBox {
    width: 48%;
    min-width: 48%;
    
    min-height: 160px;
    border: 1px solid #0c183a;
    margin: 10px 5px;
    padding: 40px;
    text-align: center;
    /*shadow*/
    -webkit-box-shadow: 3px 3px 5px 0px rgba(12,24,58,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(12,24,58,1);
    box-shadow: 3px 3px 5px 0px rgba(12,24,58,1);
}



/* Responsive */

@media only screen and (max-width: 554px) {
    .linkBox {
        min-width: 98%;
    }
}