/*-- Responsive --*/

@media only screen and (max-width: 1210px) {
  
  .main-box{
    min-width: 45%;
  }

  article.box_rule{
    min-width: 45%;
  }

  img.box-image{
    width: 40%;
  }
  .box01Left,
  .box1Right {
      padding: 0px 10px !important;
  }
}

@media only screen and (max-width: 960px) {

   img.box-image{
    width: 50%;
  }

  .headerSectionNew{
    padding: 0;
  }

  .box01Left,
  .box1Right,
  .box2Left, 
  .box02Right,
  .box03Left, 
  .box03Right,
  .box04Left, 
  .box04Right,
  .box05Left, 
  .box05Right {
      padding: 50px 10px !important;
  }
}

@media only screen and (max-width: 712px) {
  .main-box{
    min-width: 100%;
  }

  article.box_rule{
    min-width: 100%;
  }
  .box01Left,
  .box1Right,
  .box2Left, 
  .box02Right,
  .box03Left, 
  .box03Right,
  .box04Left, 
  .box04Right,
  .box05Left, 
  .box05Right{
      padding: 50px 10px !important;
  }

  div#firstArrowHeading h5 {
    transform: rotate(-380deg);
    margin-left: 0px;
}

  div#secondArrowHeading h5{
    margin-left: 10px;
    margin-bottom: -20px;
  }

  div#thirdArrowHeading h5{
    margin-left: 0px;
  }
  div#fourthArrowHeading h5,
  div#firthArrowHeading h5{
    margin-right:0px;
  }
}
