@media only screen and (max-width: 1210px) {
    .main-box {
        min-width: 45%;
    }
    article.box_rule {
        min-width: 45%;
    }
    img.box-image {
        width: 40%;
    }
    .box01Left,
    .box1Right {
        padding: 0 10px !important;
    }
}
@media only screen and (max-width: 960px) {
    img.box-image {
        width: 50%;
    }
    .headerSectionNew {
        padding: 0;
    }
    .box01Left,
    .box02Right,
    .box03Left,
    .box03Right,
    .box04Left,
    .box04Right,
    .box05Left,
    .box05Right,
    .box1Right,
    .box2Left {
        padding: 50px 10px !important;
    }

    .sharedContent{
        width: 40vw;
    }


      /* -- Activity Section -- */

      .userLog{
       width: 87vw;   
     }

.wrapAllActivities {
    width: 90vw;
    margin: 0 auto;
    margin-top: 30px;
}
  .activityWrapper{
      flex-direction: column;
  }

  .buttonsWrap a, .buttonsWrap button {
   padding: 15px 0px;
    width: 90vw;
    display: block;
    margin: 20px 0px;
    text-align: center;

}




}
@media only screen and (max-width: 712px) {
    .main-box {
        min-width: 100%;
    }
    article.box_rule {
        min-width: 100%;
    }
    .box01Left,
    .box02Right,
    .box03Left,
    .box03Right,
    .box04Left,
    .box04Right,
    .box05Left,
    .box05Right,
    .box1Right,
    .box2Left {
        padding: 50px 10px !important;
    }
    div#firstArrowHeading h5 {
        transform: rotate(-380deg);
        margin-left: 0;
    }
    div#secondArrowHeading h5 {
        margin-left: 10px;
        margin-bottom: -20px;
    }
    div#thirdArrowHeading h5 {
        margin-left: 0;
    }
    div#firthArrowHeading h5,
    div#fourthArrowHeading h5 {
        margin-right: 0;
    }
    
    article.sharedContentArticle{
        flex-direction: column !important; 
        margin-right: 20px;
        margin-top: 20px;
    }

    .sharedContent{
        width: 84vw;
    }


  .page-template-links-template .standardBtn, .page-template-links-template-connecting-expanding-learning .standardBtn, .page-template-links-template-online-and-digital-learning .standardBtn, .page-template-links-template-building-learning-independence .standardBtn, .page-template-links-template-The-Purpose-And-Vision-Of-Education .standardBtn, .page-template-links-template-Professional-learning-for-the-21st-century .standardBtn, .page-template-share-content-Building-learning-independence .standardBtn{
    width: 72%;
    margin-bottom: 0px;
  }


  /* -- Activity Section -- */

  .userLog{
       width: 87vw;   
  }

  .wrapAllActivities {
    width: 90vw;
    margin: 0 auto;
    margin-top: 30px;
}
  

    h1.totalHeading {
    width: 50vw;
}

  .activityWrapper{
      flex-direction: column;
  }

  .buttonsWrap a, .buttonsWrap button {
    padding: 15px 0px;
    width: 90vw;
    display: block;
    margin: 20px 0px;
    text-align: center;
}

.cbxbookmark_card {
    margin: 0 10px 20px 10px;
    display: inline-block;
    width: 70vw;
    min-height: 190px !important;
    z-index: 1 !important;
}


}
